<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Susheel's portfolio</title>
  </head>
  <body>
    {{> header}}
    <p>Welcome {{userName}}'s project portfolio</p>
    {{> footer}}
  </body>
</html>
